---
import '../styles/global.css';
import LandingWrapper from '@/components/LandingWrapper';

let showLanding = false;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>EPC AES</title>
	</head>

	<body class="dark">
			<LandingWrapper client:load />
	</body>
</html>
